$primary-color: #1bc4de;
$secondary-color: #0ba4bc;
$tertiary-color: #a4edf8;
$black-color: #000;
$black-color2: #141414;
$white-color: #fff;
$gray-color: #707070;

@font-face {
  font-family: "Recoleta";
  src: local("Recoleta"),
    url("./fonts/Recoleta-RegularDEMO.otf") format("opentype");
}
@font-face {
  font-family: "Raleway-Bold";
  src: local("Raleway-Bold"),
    url("./fonts/Raleway-Bold.ttf") format("truetype");
}
